body {
    background-color: rgb(206, 240, 235);
    font-family: cursive;
}

.cat {
    background-color: rgb(88, 10, 23);
    margin: 2em;
    padding: 1em;
    border-radius: 3em;
    border: 1em solid;
    flex: 7;
}

@media (min-width : 960px) {
    .cats {
        display: flex;
    }
}

fieldset {
    margin: 1em;
    border: 2;
}

button {
    padding: 4em;
    border: 3px solid;
    border-radius: 1em;
}

input {
    padding: 3em;
    border-radius: 1em;
}